
@{
    ViewBag.Title = "About";
}



<div class="container">
    <div class="row">
        <!--KAtegoriler-->
        <div class="col-md-3">

            @Html.Partial("_PartialCategories");
        </div>

        <div class="col-md-9">
            
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div class=" img">
                        <img class="img img-circle" src="~/Content/İmages/res4.jpg" alt=""  style="height:250px;margin-left:150px;"/>

                    </div>
                </div>
            </div>
           
            <p>
                TÜBİTAK ULAKBİM çatısı altında, Türkiye'de yayımlanan akademik dergiler için elektronik ortamda barındırma ve editoryal süreç yönetimi hizmeti sunar. DergiPark, ulusal akademik dergilerin standartlara uygun olarak varlık kazanmasına ve uluslararası görünürlüğünün artırılmasına destek olur.

                DergiPark, dergilerin işleyişine, yönetimine ve içeriğine karışmaz. Sadece alt yapı sunar ve sistemin kullanımı için "teknik destek" sağlar. Yazarlar, yayınları hakkında her türlü konu için ilgili derginin editörü ile iletişime geçmelidir.

                2019 verilerine göre DergiPark günlük ortalama kullanıcı sayısı: 23.620

                Son 6 ayda DergiPark'ı kullanan kişi sayısı: 28.289.891

                DergiPark, Türkiye'de akademik bilgi erişiminde en çok kullanılan araştırma alanıdır.

                
            </p>
        </div>
    </div>
</div>