
@{
    ViewBag.Title = "AccessDenied";
}



<div class="row">
    <div class="col-md-6 col-md-offset-4">

        <h3> Bu Sayfaya Erişim Yetkiniz Bulunmamaktadır</h3> 
        <h4 class="text-capitalize"><span class="glyphicon glyphicon-remove-circle text-danger"></span> Yetkisiz Erişim</h4>
        <br /><br />

        
    </div>

    <div class="col-md-8 col-md-offset-6">
        <a href="/Home/Index" class="btn btn-info">Anasayfaya Git</a>
    </div>

</div>